@model Intranet_NEW.Models.WEB.ComentarioModel

<div class="comentario-item">
    <img src="~/imagens/conta-Icon.png" class="comentario-avatar" />
    <div class="comentario-corpo">
        <div class="d-flex justify-content-between">
            <span class="comentario-usuario">@Model.UsuarioNome</span>
            <span class="comentario-data">@Model.dtComentario.ToString("dd/MM/yyyy HH:mm")</span>
        </div><img src="~/imagens/logotipo_black.png" />
        <p class="comentario-mensagem">@Model.Conteudo</p>
    </div>
</div>
