 
 
<div class="container d-flex flex-column w-100 justify-content-start align-items-center p-3" id="pub-container" style="overflow-y:auto;overflow-x:hidden;max-height:70vh;">

</div>

<!-- Loader -->
<div id="loading" style="display:none;text-align: center; margin-top: 20px; position:relative;bottom:-10%">
    <img src="~/imagens/loader.gif" width="100" />
</div>

