@using System.Security.Claims
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrativo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/animacao.css" />
    <link rel="stylesheet" href="~/css/componentes.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/Usuario.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/js/Animacao.js"></script>
    <script src="~/js/Reacao.js"></script>
    <script src="~/js/site.js"></script>

</head>
<body style="background-color:#f3f3f3" class="vh-100 d-flex flex-column justify-content-between">

    <header class="administrativo-header">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3 h-100">
                <img src="~/imagens/LOGO_ROVERI_NEW.png" style="height:75px;width:180px;padding:10px" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">@User.FindFirst(ClaimTypes.Name).Value</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Feed">Feed</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Login" asp-action="Logout">Sair</a>
                        </li>
                    </ul>
                </div>
            </nav>
   
    </header>

    <main class="d-flex w-100" style="height:82%;">
        @RenderBody()
    </main>

    <footer class="administrativo-footer bg-dark text-white text-center p-3">
        <p class="mb-0">© @DateTime.Now.Year Intranet - Administrativo | Desenvolvido pelo MIS - Caixa</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!--Script para Validacao-->
    <script>
        $(document).ready(function () {
            var erroLogin = '@ViewBag.ErroPub';
            var divErro = document.getElementById('divErro');
            if (erroLogin === 'True') {
                $("#postModal").modal('show'); // Exibir modal erro
                divErro.style.display = 'block';
            }
        });
    </script>

</body>
</html>
