@model Intranet_NEW.Models.WEB.Colaborador
@{
    Layout = "_Layout_Home";
    ViewData["Title"] = "Home";
}

<div class="d-flex w-100 p-2 flex-column justify-content-evenly align-items-center" style="width:82%">
    @foreach (Intranet_NEW.Models.WEB.PublicacaoModel item in ViewBag.Publicacoes)
    {
        @await Html.PartialAsync("_CompPublicacao", item)
    }

</div>
