@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Bem Vindo";
}

<div class="div-login" style="border-radius:25px; border: solid; border-width: thin; border-color: #ff6000; height:200px; width:350px">
    <form class="row g-3" style="margin-top:30px">
        <div class="row justify-content-md-center">
            <label for="staticEmail" class="col-sm-2 col-form-label">Login</label>
            <div class="col-md-auto">
                <input type="text" class="form-control" id="staticEmail" value="" height="30">
            </div>
        </div>
        <div class="row justify-content-md-center" style="margin-top:10px">
            <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-md-auto">
                <input type="password" class="form-control" id="inputPassword" height="30">
            </div>
        </div>
        <div class="row justify-content-sm-center" style="margin:10px">
            <button type="submit" class="btn btn-warning btn-md" style="background-color: #ff6000; color: white; width:100px">Confirmar</button>
        </div>
    </form>
</div>



