
@using Microsoft.AspNetCore.Components
@{
    Layout = "_Layout_Administrativo";
    ViewData["Title"] = "Publicação";
    var data = new ImportMapDefinition(
        new Dictionary<string, string>
        {
        { "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
        { "ckeditor5/", "/lib/ckeditor5/" },
        }, null, null);
}

<div class="sidebar">
    <a asp-controller="Administrativo" asp-action="Index" class="logout-btn">
        <img width="25" style="margin-right:10px" src="~/imagens/sair-icon.png" />
        <span>Sair</span>
    </a>
</div >

<div class="d-flex" style="width:82%">

    <button class="custom-btn me-2" data-bs-toggle="modal" data-bs-target="#postModal">Criar Publicação</button>

</div>



<script>
    tinymce.init({
      selector: '#editor',
      plugins: 'image media',
      toolbar: 'undo redo | bold italic | alignleft aligncenter alignright | image media',
      images_upload_url: '/upload',
      automatic_uploads: true,
      height:450,
      file_picker_types: 'image,media',
      images_file_types: 'jpeg,jpg,png,gif,webp', 
      media_live_embeds: true,
      images_upload_handler: async function  (blobInfo, success, failure) {
            var formData = new FormData();
            formData.append('file', blobInfo.blob(), blobInfo.filename());

            console.log('Enviando imagem:', blobInfo.filename());
            console.log([...formData]); // Verifique os dados antes do envio

            fetch('/Publicacao/Upload', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                console.log('Resposta recebida:', response);
                return response.json();
            })
            .then(result => {
                console.log('Resultado JSON:', result);
                if (result.location) {
                    success(result.location);
                } else {
                    failure('Erro: resposta do servidor inválida.');
                }
            })
            .catch(error => {
                console.error('Erro ao enviar imagem:', error);
                failure('Erro ao enviar imagem: ' + error.message);
            });
        }
    });
</script>




