@import url('animacao.css');

:root {
    --cor-principal: #ff6000;
}


/* Mantém a rotação apenas no texto vertical */
.vertical-text {
    font-size: 11rem;
    writing-mode: vertical-rl; /* Mantém o texto na vertical */
    font-weight: bold;
    color: #fff;
    position: absolute; /* Remove o impacto na página */
    z-index: 1;
    opacity: 0;
}

.vertical-text.start {
    left: -25%; /* Fixa o texto 1 à esquerda */
    bottom: 1%; /* Começa de baixo para cima */
    animation:FadeUpTextVertical 1s forwards;
}

.vertical-text.end {
    top: 2%; /* Fixa o texto 2 à direita */
    left: -5%; /* Começa de baixo para cima */
    animation:FadeDownTextVertical 1s forwards;

}

/* Estilização das labels */
.custom-label {
    font-weight: bold;
    font-size: 1.7rem;
    color: #ff6000;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
}

.custom-label-big {
    font-weight: bold;
    font-size: 4rem;
    color: #ff6000;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
}

.custom-label-small {
    font-weight: bold;
    font-size: 1.3rem;
    color: #ff6000;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
}

/* Estilização dos inputs */
.custom-input {
    border: 2px solid #ff6000;
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

    .custom-input:focus {
        border: 2px solid #ff6000;
        box-shadow: 0 0 32px rgba(255, 96, 0, 0.5);
    }

/* Botão estilizado */
.custom-btn {
    background-color: #ff6000;
    color: white;
    font-weight: bold;
    padding: 12px;
    border:none;
    border-radius: 8px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

    .custom-btn:hover {
        background-color: #FFF;
        color: var(--cor-principal);
        font-size:1.01rem;
        border: solid 2px var(--cor-principal);
        box-shadow: 0 4px 10px rgba(255, 96, 0, 0.5);
    }



.modal-erro {
    background-color: rgba(194, 196, 195, 0.5); /* Fundo escuro transparente */
}

    .modal-erro .modal-dialog {
        max-width: 600px; /* Define um tamanho menor para o modal */
    }

    .modal-erro .modal-content {
        background-color: #fff; /* Vermelho para erro */
        color: black; /* Texto branco */
        border-radius: 10px; /* Bordas arredondadas */
        border: 1px solid #ce4343; /* Borda vermelha */
        box-shadow: 2px 2px 1px #ce4343; /* Sombra para destacar */
    }

    .modal-erro .modal-header {
        border-bottom: none; /* Remove a borda inferior do cabeçalho */
    }

    .modal-erro .modal-title {
        font-weight: bolder;
        font-size: 1.4rem;
    }

    .modal-erro .modal-body {
        font-size: 1.4rem;
        text-align: center;
    }

    .modal-erro .modal-footer {
        border-top: none; /* Remove a borda superior */
        justify-content: center;
    }

    .modal-erro .btn-fechar {
        background-color: white;
        color: #ff0000;
        border: 1px solid #ff0000;
        font-weight: bold;
    }

        .modal-erro .btn-fechar:hover {
            background-color: #ff0000;
            color: white;
        }


/* Header com imagem de fundo */
.custom-header {
    background: url('/imagens/Banner.png') no-repeat center center;
    background-size: 100% 100%;
    height: 19%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    z-index:650;
}

/* Círculo para a foto do usuário */
.profile-circle {
    width: 7%;
    height: 55%;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #ffc799;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
}

.profile-circle-small {
    border-radius: 50%;
    background-color: white;
    border: 2px solid #ffc799;
    padding:20px;
    margin-right:3%; 
    text-align: center;
}

/* Nome do usuário */
.user-name {
    font-size: 1rem;
    font-weight: bold;
    color:#343a40;
    text-align: center;
    margin:0;
}

.user-function {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color:#343a40;
    margin:0;
}

.sidebar {
    width: 20%;
    height: 100%;
    background-color: #666;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 12px;
    justify-content: start;
    opacity:0;
    animation:FadeLeft 0.4s forwards;
}
    .sidebar .menu-btn {
        opacity:0;
        animation:FadeLeft 0.1s forwards;
        animation-delay:0.2s;
    }

.menu-btn {
    margin-top: 5%;
    background: none;
    border: none;
    width: 100%;
    padding: 12px;
    text-align: left;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    border-radius: 0px;
    text-decoration: none;
    border-bottom: solid 1px rgba(194, 196, 195, 0.5)
}

    .menu-btn:hover {
        border-radius:5px;
        background-color: #ff6000;
        color: white;
    }

    .menu-btn.active {
        border-radius:5px;
        background-color: #ff6000;
        color: white;
        font-weight: bold;
    }

.logout-btn {
    background-color: #888; /* Cor diferente do menu */
    color: white;
    border: none;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:8%;
    padding:13px;
    text-align: left;
    margin-top:auto;
    font-size: 1.4rem;
    text-decoration:none;
}
.logout-btn:hover {
    color:#ff6000;
}

/* ================= HEADER ADMINISTRATIVO ================= */
.administrativo-header {
    width: 100%;
    height:11%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/* ================= BOTÕES ADMINISTRATIVOS ================= */
.administrativo-menu-button {
    width: 80%;
    height: 50%;
    background-color: #ff6000;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    box-shadow: 10px 10px 26px -8px black;
}

    .administrativo-menu-button:hover {
        transform: scale(1.1);
        box-shadow: 0px 5px 15px rgba(255, 96, 0, 0.5);
        color: white;
    }

/* ================= FOOTER ADMINISTRATIVO ================= */
.administrativo-footer {
    height:10%;
    bottom: 0;
    width: 100%;
}