@{
    Layout = "_Layout_Administrativo";
    ViewData["Title"] = "Home - Admistrativo";
}
<div class="row justify-content-center align-items-center h-100" style="width:101%;overflow:auto;">
    <!-- Botão Colaboradores -->
    <div class="administrativo-div-button">
        <a href="#" class="d-flex flex-column btn administrativo-menu-button disabled">
            <img src="~/imagens/audience-icon.png" width="200"/>
            <span>Colaboradores</span>

        </a>
    </div> 
    
    <!-- Botão Publicações -->
    <div class="administrativo-div-button">
        <a  class="d-flex flex-column btn administrativo-menu-button" asp-controller="Publicacao" asp-action="Publicacao">
            <img src="~/imagens/blog-post-icon.png" width="160" />
           <br/>
            <span>Publicações</span>

        </a>
    </div>

    <!-- Botão Power BI -->
    <div class="administrativo-div-button">
        <a class="d-flex flex-column align-items-center btn administrativo-menu-button" asp-controller="PowerBI" disabled asp-action="PowerBI">
            <img src="~/imagens/Power_BI_Logo.svg.png"  width="160" />
            <br />
            <span>Power BI</span>
        </a>
    </div> 
</div>
